<h2><%= @user.username %>'s profile</h2>
<%= image_tag(@user.avatar.thumb.url) %>


<h3>Reviews by <%= @user.username %></h3>



<% @reviews.each do |review| %>
  <div class="review>
    <%= image_tag(review.photo.thumb.url)%>
    <h2> <%= link_to review.title, review_path(review) %> </h2>
  </div>
<% end %>

