<%= form_for @review do |form| %>

  <% if @review.errors.any? %>
    <div class="errors">
      <% @review.errors.full_messages.each do |message| %>
        <p> <%= message %> </p>
      <% end %>

    </div>

  <% end %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :restaurant %>
    <%= form.text_field :restaurant %>
  </p>

  <p>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </p>


  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.label :cuisine %>
    <%= form.text_field :cuisine %>
  </p>

  <p>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </p>


  <p>
    <%= form.label :score %>
    <%= form.number_field :score %>
  </p>

  <p>
  <%= form.label :ambiance %>
  <%= form.text_field :ambiance %>
</p>

  <%= form.submit "Save review" %>

<% end %>