<%= form_for @review do |form| %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.label :score %>
    <%= form.number_field :score %>
  </p>

  <%= form.submit "Save review" %>

<% end %>